body {
    background: blue;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

header{
    background: rgb(189, 14, 14);
    padding: 20px 0;
}


.text-white {
    text-align: justify;
    padding-left: 40px;
}


.logo-colegio {
    width: 50px;

}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: #000000;
    border: 1px solid #000000;
}

.sub-menu li {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px 30px 10px 10px; /* Ajustar aquí el valor de padding */
}

.sub-menu li a {
    display: block;
    text-align: justify;
    color: #ffffff;
}

.nav-item:hover .sub-menu {
    display: block;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}


.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Para hacer el fondo oscuro */
    background-blend-mode: multiply; /* Para oscurecer la imagen */
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    background-position: center center; /* Para centrar la imagen */
}

.titulo {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px;
}

/*para el parrafo justificado*/
.parrafo {
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    font-size: 30px;
}

/* Social */
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 10px;
}

.links a i {
    font-size: 3rem;
    color: rgb(173, 172, 172);
}


/* parte final de la pagina */

.footer-links {
    background: #333333;
    padding: 10px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10%;
    color: #cac7c7;
}

.imagen-pequena {
    width: 50px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.footer-info p {
    margin: 0;
}



@media only screen and (min-width: 768px) {
    .footer {
        padding: 20px 5%;
    }
}

@media only screen and (min-width: 992px) {
    .footer-info {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .footer-info p {
        margin-left: 20px;
    }
}









